body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4c83a8;
  color: #eee;
}
.App{
  background: #000000;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

body {
  background: #000000;
}


th {
  color: #fff;
  font-size: 1.1em;
}

td {
  font-weight: 0.9em;
}

