.movie-grid {
    display: grid;
    position: relative;
    grid-template-columns: .5fr 1fr 2fr .5fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". poster infos ."
                        ". recommendations recommendations ."
                        ". photos photos ."
                        ". details details .";
    margin: 2.5rem 0 1rem;
}

@media (max-width: 700px) {
    .movie-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: ". infos infos ."
        ". poster poster ."
        ". recommendations recommendations ."
        ". photos photos ."
        ". details details .";
    }
}

.movie-poster {
    grid-area: poster;
    img {
        width: 100%;
    }
}

.infos-grid {
    grid-area: infos;
    padding-left: 2.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,auto) .8fr;
    grid-row-gap: 1rem;
}

@media screen and (max-width: 700px) {
    .movie-grid .infos-grid {
        padding-left: 0;
        // padding-bottom: 2rem;
    }
}


.movie-title {
    font-size: 3.5rem;
}

.movie-runtime, .movie-date, .movie-vote {
    padding-right: 1rem;
}

.movie-tagline {
    font-size: 2rem;
    color: #01d277;
}

.movie-overview {
    font-size: 1.3rem;
    color: #b7c7bd;
    opacity: .9;
}

.director-job {
    font-size: 1.1rem;
    padding-right: .4rem;
    color: #01d277;
}

.director-name {
    opacity: .9;
}

.main-cast {
    font-size: 1.1rem;
    padding-right: .4rem;
    line-height: 1rem;
    color: #01d277;
}

.cursor-normal:hover {
    cursor: initial;
}


.details-grid {
    position: relative;
    grid-area: details;
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 10px;
    .title {
        opacity: .8;
        font-size: 2rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .details-container {
        .details-title {
            font-size: 1.1rem;
            padding-right: .4rem;
            color: #01d277;
        }
        .details-value {
            opacity: .9;
        }
    }
}
