.paginatorBottom {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.paginatorUpper {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 0vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media screen and (max-width: 500px) {
  .paginatorBottom {
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    }
  .paginatorUpper {
    padding-top: 2vh;
    padding-bottom: 0vh;
    padding-left: 2vw;
    padding-right: 2vw;
    }
}

.rc-pagination {
    font-weight: bold;
}

.rc-pagination-item {
    border-radius: 2px;
}

.rc-pagination-item-active {
    background-color: #01d277;
    border-color: #01d277;
    a {
        color: black;
    }
}

.rc-pagination-item:hover, .rc-pagination-item:focus {
    border-color: #01d277;
    background-color: #01d277;
    outline: 0;
    a {
        color: black;
    }
}

.rc-pagination-prev a, .rc-pagination-next a {
    color: #01d277;
}

.rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-prev, .rc-pagination-jump-next {
    border-radius: 2px;
    background-color: black;
    &:focus {
        outline: 0;
    }
}
